        <div class="row">
            <div class="col-3">
                <div class="itemsForSale">
                    {{#each items}}
                        <p>Product Name: {{this.Product_Name}}</p>
                        <p>Category: {{this.Category}}</p>
                        <p>Description: {{this.Description}}</p>
                        <button type="button" class="btn btn-success">Buy</button>
                        <br><br>
                    {{/each}}
                </div>
            </div>
        </div>
        <hr>