<div class="row">
    <div class="col-12">
        <h2 class="subText">{{this.Product_Name}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-7 itemCloseUp">
        <p class="itemText">{{this.Price}}</p>
        <br>
        <br>
        <p class="itemText">{{this.Description}}</p>
        <br>
    </div>
    <div class="col-5">
        <p class="itemText">{{this.image}}</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-primary">Buy Item</button>
        <br>
    </div>
</div>
<hr>