* {
    box-sizing: border-box;
}

body {
    background-image: url("/assets/img/bg.png");  
    background-size: 100%;
    overflow-x: hidden;
}

.mainText {
    color: white;
    font-size: 60px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    display: block;
    text-align: center;
}

.addTitle {
    padding-bottom: 3%;
    color: white;
    /* text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; */
}

.subText {
    font-size: 26px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
}

.indexText {
    color: white;
    font-size: 18px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
}

button {
    float: right;
}

h6 {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

.footText {
    color: white;
    text-align: center;
}

footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}

.formLabel {
    margin-left: 6%;
    font-size: 30px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.formText {
    margin-left: 6%;
    font-size: 18px;
    padding-bottom: 4px;
}

.pushMe {
    font-size: 20px;
}

.itemText {
    text-align: center;
    padding-top: 3%;
    color: white;
}

.btn-primary {
    margin-right: 4%;
}

.bigText404 {
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 36px;
    padding-top: 3%;
}

.smallText404 {
    text-align: center;
    font-size: 24px;
    padding-top: 3%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.itemsForSale {
    margin-left: 9%;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;  
}

.price {
    margin-bottom: 2%;
}

th, td {
    padding: 15px;
}

.spacer {
    margin-bottom: 50px;
}


